@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Bebas Neue', cursive;
}

p{
    font-family: 'Bebas Neue', cursive;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 0;
}

.header{
    background: rgb(125,107,107);
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    position: absolute;
    top: 10px;
    width: 130px;
}

.menu .barraNavegacion ul li{
    position: relative;
    float: left;
}

.menu .barraNavegacion ul li a {
    font-size: 35px;
    padding: 45px;
    color: #572116;
    display: block;
    font-weight: bold;
}

.menu .barraNavegacion ul li a:hover{
    color: #E59A1E;
}

.redesIcono img{
    width: 30px;
    margin-right: 15px;
}

#menu{
    display: none;
}

.menuIcono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.books{
   background: #ffffff;
}

.galeria-books{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.book-port{
    width: 24%;  
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.book-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(229,154,30, 0.6);
    transition: transform .5s;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
    margin-left: 160px;
    margin-top: 70%;
}


.hover-galeria p{
    color: #ffffff;
    font-size: 36px;
    text-align: center;
}


.book-port:hover .hover-galeria{
    transform: scale(1);
}

.about-us{
    background-color: #E8E8E8;
    font-size: 50px;
    color: #E59A1E;
    margin: 10px 10px 10px 10px; 
}

.about-content{
    display: flexbox;
    position: relative;
    margin: 10px;
}

.about-us{
    position: relative;
}

.about-text p{
        font-size: 18px;
        color: black;
        margin-bottom: 35px;
}

.form{
    display: flex;
}

.form, .name, .email{
    padding: 15px 90px;
    background-color: #ffffff;
    border-radius: 25px;
    border: 1p solid #E8E8E8;
    outline: none;
    color: #3F3F3F;
}

.name::placeholder, .email::placeholder{
    color: #A3A3A3;
}

.btn{
    margin-top: 10px;
    margin-bottom: 50px;
    display: inline-block;
    padding: 15px 45px;
    font-size: 25px;
    background-color: #572116;
    color: #FFFF;
    border-radius: 25px;
    border: 0;
    font-family: serif;
    cursor: pointer;
}

.btn:hover{
    background-color: #E59A1E;
}

.form-content{
    padding: 100px 0 70px 0;
    text-align: center;
}

.wave2{
    position: relative;
    top: 0;
    width: 100%;
}

.wave3{
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer{
    padding: 50px 0 0 0;
    background: rgb(125,107,107);   
}

.footer-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.link-img img{
    width: 120px; 
}

.socials2 img{
    width: 50px;
    margin: 5px;
}

.link h3{
    font-size: 44px;
    color: #ffffff;
}

.link a {
    font-size: 22px;
    display: block;
    color: #ffff;
    margin-bottom: 20px;
}

.link a:hover{
    color: #E59A1E;
}
